.ant024_footer-footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ant024_footer-footer-section a {
    text-decoration: none;
}

.ant024_footer-footer-section {
    float: left;
    width: 100%;
    padding: 0 0 0 0;
    color: #bababa;
    background: #191919;
}

.ant024_footer-footer-section .ant024_footer-widget {
    padding-bottom: 0px;
    margin-bottom: 17px;
}

.ant024_footer-footer-section .ant024_footer-widget h5 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 22px;
    margin-bottom: 32px;
}

.ant024_footer-footer-section .ant024_footer-widget h3 {
    color: #fff;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.ant024_footer-footer-section .ant024_footer-widget p {
    color: #bababa;
    margin-top: -12px;
    float: left;
}

.ant024_footer-footer-section .ant024_footer-widget img {
    margin-top: 34px;
}

.ant024_footer-footer_soc {
    margin-top: -2px;
    margin-bottom: 15px;
}

.ant024_footer-footer_socil .ant024_footer-list-icons {
    padding-left: 0;
    list-style: none;
}

.ant024_footer-footer_socil .ant024_footer-list-icons li {
    float: left;
    margin-bottom: 30px;
    margin-right: 10px;
}

.ant024_footer-footer_socil .ant024_footer-list-icons li a {
    color: #fff;
    font-size: 18px;
    padding-right: 7px;
}

.ant024_footer-footer_socil .ant024_footer-list-icons li a:hover {
    color: #313aaf;
    text-decoration: underline;
}

.ant024_footer-quick_lnk ul li {
    list-style: none;
    padding-bottom: 12px;
    padding-left: 30px;
}

.ant024_footer-quick_lnk ul li::after {
    position: absolute;
    content: "";
    left: 0;
    margin-left: 16px;
    width: 12px;
    height: 1px;
    background: #ddd;
    margin-top: 12px;
}

.ant024_footer-quick_lnk ul li a {
    color: #bababa;
}

footer .ant024_footer-quick_lnk li a:hover {
    color: #e9e9e9;
    text-decoration: underline;
}

.ant024_footer-recent-post,
.ant024_footer-quick_lnk ul {
    margin: 0;
    padding: 0;
}

.ant024_footer-recent-post li {
    list-style: none;
    margin: 0 0 -11px 0;
    position: relative;
    border-color: #454545;
    padding: 0 0 0px 50px;
    margin-bottom: 20px;
}

.ant024_footer-recent-post li:last-child {
    border-bottom: transparent;
}

footer .ant024_footer-recent-post li a {
    color: #bababa;
    font-size: 15px;
}

footer .ant024_footer-recent-post li a:hover {
    color: #e9e9e9;
    text-decoration: underline;
}

footer .ant024_footer-recent-post-date {
    position: absolute;
    width: 35px;
    height: auto;
    border: 1px solid #bababa;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 11px;
    padding: 8px;
    border-radius: 2px;
    left: 0;
    top: 5px;
}

.footer-social-links ul {
    margin-left: -39px;
}

.footer-social-links ul li {
    display: inline-block;
    position: relative;
    margin: 10px 5px 0;
    line-height: 1em;
    vertical-align: top;
}

.footer-social-links ul li a {
    display: inline-block;
    text-align: center;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 21px;
    border: 1px solid #bababa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #bababa;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.ant024_footer-tags a {
    color: #bababa;
    display: inline-block;
    margin: 2px 0px;
    padding: 2px 10px;
    border: 1px solid #2f3335;
}

.ant024_footer-tags a:hover {
    background-color: #fff;
    color: #3d4244;
    display: inline-block;
}

.ant024_footer-subfooter {
    float: left;
    width: 100%;
    text-align: center;
    border-top: 1px solid #292626;
    padding: 16px;
    color: #bababa;
    margin-top: 50px;
}

.ant024_footer-subfooter p {
    color: rgba(255, 255, 255, 0.58);
    float: left;
    font-size: 15px;
}

.ant024_footer-subfooter p a {
    color: #aba6a6;
}

@media only screen and (max-width: 767px) {

    .ant024_footer-footer-section .ant024_footer-subfooter .col-xs-6,
    .ant024_footer-footer-section .ant024_footer-subfooter .col-xs-6 {
        width: 100% !important;
    }

    .ant024_footer-subfooter {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .ant024_footer-subfooter p {
        float: none;
    }

    footer .ant024_footer-recent-post li a {
        font-size: 14px;
    }

    .ant024_footer-footer-section .ant024_footer-widget h5 {
        margin-bottom: 22px;
        margin-top: 40px;
    }

    .ant024_footer-footer-section .col-xs-2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .ant024_footer-footer-section .ant024_footer-widget .col-xs-11 {
        padding-left: 0px;
    }

    .ant024_footer-footer-section .ant024_footer-tags {
        padding-bottom: 35px;
    }

    .ant024_footer-footer-section .ant024_footer-footer_para {
        margin-bottom: -10px;
    }
}
.ant019_header-main-header ul,
.ant019_header-main-header li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.ant019_header-main-header a {
    text-decoration: none !important;
}

.ant019_header-main-header .btn:focus {
    box-shadow: none !important;
}

.ant019_header-main-header form {
    margin: 0;
}

.ant019_header-main-header .pull-left {
    float: left;
}

.ant019_header-main-header .pull-right {
    float: right;
}

.ant019_header-main-header {
    position: relative;
    z-index: 999;
    width: 100%;
}

.ant019_header-header-top {
    position: relative;
    background-color: #1089ff;
}

.ant019_header-header-top .ant019_header-top-left {
    position: relative;
    float: left;
    padding: 13px 0px;
}

.ant019_header-header-top .ant019_header-top-left .ant019_header-text {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.ant019_header-header-top .ant019_header-top-right {
    position: relative;
    float: right;
}

.ant019_header-header-top .ant019_header-top-right .social-box {
    position: relative;
    display: inline-block;
    padding: 13px 0px;
}

.ant019_header-header-top .ant019_header-top-right .social-box li {
    position: relative;
    margin-left: 15px;
    display: inline-block;
}

.ant019_header-header-top .ant019_header-top-right .social-box li a {
    position: relative;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ant019_header-header-top .ant019_header-top-right .social-box li a:hover {
    opacity: 0.8;
}

/*Language Dropdown*/

.ant019_header-main-header .ant019_header-header-top .ant019_header-language {
    position: relative;
    line-height: 1em;
    display: inline-block;
}

.ant019_header-main-header .ant019_header-header-top .ant019_header-language .ant019_header-flag-icon {
    margin-right: 8px;
}

.ant019_header-main-header .ant019_header-header-top .ant019_header-language .dropdown-menu {
    top: 100%;
    right: 0px;
    left: auto;
    width: 170px;
    border-radius: 0px;
    margin-top: 0px;
    background-color: #fff;
    border: none;
    padding: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
}

.ant019_header-main-header .ant019_header-header-top .ant019_header-language>a {
    color: #fff;
    padding: 15px 20px;
    text-transform: capitalize;
    display: inline-block;
    border: 0px;
    top: -1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1em;
    border-radius: 0px;
}

.ant019_header-main-menu .ant019_header-navigation>li.dropdown>a {
    padding-right: 15px !important;
}

.ant019_header-main-header .ant019_header-header-top .ant019_header-language>a:after {
    display: none;
}

.ant019_header-main-header .ant019_header-header-top language a:hover {
    background: none;
}

.ant019_header-main-header .ant019_header-header-top .ant019_header-language .dropdown-menu>li {
    padding-right: 0px !important;
    margin: 0px !important;
    float: none;
    display: block !important;
}

.ant019_header-main-header .ant019_header-header-top .ant019_header-language .dropdown-menu>li:last-child {
    border-bottom: none;
}

.ant019_header-main-header .ant019_header-header-top .ant019_header-language .dropdown-menu>li>a {
    padding: 12px 20px !important;
    color: #1089ff;
    display: block;
    text-align: left;
    font-size: 14px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ant019_header-main-header .ant019_header-header-top .ant019_header-language .dropdown-menu>li>a:hover {
    color: #ffffff !important;
    background-color: #1089ff;
}

.ant019_header-main-header .main-box {
    position: relative;
    padding: 0px 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    background: none;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ant019_header-main-header .main-box .outer-container {
    position: relative;
    padding: 0px 40px;
}

.ant019_header-main-header .main-box .ant019_header-logo-box {
    position: relative;
    float: left;
    left: 0px;
    z-index: 10;
    padding: 30px 0px;
}

.ant019_header-main-header .main-box .ant019_header-logo-box .ant019_header-logo img {
    display: inline-block;
    max-width: 100%;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ant019_header-main-header .ant019_header-header-upper {
    position: relative;
}

.ant019_header-main-header .ant019_header-header-upper .outer-container {
    position: relative;
    padding: 0px 60px;
}

.ant019_header-main-header .ant019_header-nav-outer {
    position: relative;
    float: left;
}

.ant019_header-header-style .ant019_header-nav-outer {
    display: block;
    float: none;
}

.ant019_header-header-style .ant019_header-nav-outer .side-curve {
    position: absolute;
    content: '';
    right: -50px;
    border-bottom: 70px solid #1089ff;
    border-right: 50px solid transparent;
}

.ant019_header-main-header .ant019_header-header-upper .ant019_header-logo-box {
    margin-right: 150px;
    position: relative;
    top: 15px;
}

.ant019_header-main-header .ant019_header-header-upper .ant019_header-logo-box .ant019_header-logo {
    position: relative;
}

.ant019_header-main-header.ant019_header-header-style .ant019_header-header-upper .ant019_header-logo-box {
    top: 0px;
    padding: 28px 0px;
    margin-bottom: 0px;
    background: none;
    margin-right: 0px;
}

.ant019_header-main-header.ant019_header-header-style .ant019_header-header-upper .ant019_header-logo-box:before {
    display: none;
}

.ant019_header-main-header .ant019_header-outer-box {
    position: relative;
    top: 0px;
    float: right;
    padding: 32px 0px;
}

.ant019_header-main-header.ant019_header-header-style .ant019_header-outer-box {
    padding: 0px;
}

.ant019_header-main-header .ant019_header-outer-box .option-list {
    position: relative;
}

.ant019_header-main-header .ant019_header-outer-box .option-list li {
    position: relative;
    color: #262626;
    font-size: 16px;
    padding-right: 18px;
    margin-right: 18px;
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px solid #dde4db;
}

.ant019_header-main-header .ant019_header-outer-box .option-list li a {
    position: relative;
    color: #262626;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ant019_header-main-header .ant019_header-outer-box .option-list li a:hover {
    color: #1089ff;
}

.ant019_header-main-header .ant019_header-outer-box .option-list li .icon {
    position: relative;
    margin-right: 8px;
    color: #1089ff;
    top: 3px;
    line-height: 1em;
    font-size: 20px;
}

.ant019_header-main-header .ant019_header-outer-box .option-list li:last-child {
    border: none;
    margin: 0px;
    padding: 0px;
}

.ant019_header-main-header .ant019_header-outer-box .option-list li strong {}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box {
    position: relative;
    float: left;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box>li {
    position: relative;
    margin-left: 20px;
    display: inline-block;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box {
    position: relative;
    float: left;
    color: #ffffff;
    font-size: 16px;
    background: none;
    display: inline-block;
    margin-right: 25px;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-box-btn {
    background: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-box-btn:after {
    display: none;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-box-btn .total-cart {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 18px;
    height: 18px;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    background-color: #222222;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-box-btn:hover {
    color: #222222;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product {
    position: relative;
    margin-bottom: 24px;
    min-height: 90px;
    border-bottom: 1px solid #e4e4e4;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner {
    position: relative;
    padding-left: 90px;
    min-height: 70px;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner .cross-icon {
    position: absolute;
    right: 0px;
    top: -2px;
    z-index: 1;
    color: #263120;
    font-size: 16px;
    cursor: pointer;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner .cross-icon:hover {
    color: #1089ff;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner .image {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner h3 {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner h3 a {
    color: #222222;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner h3 a:hover {
    color: #1089ff;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner .quantity-text {
    position: relative;
    font-weight: 300;
    color: #666666;
    font-size: 14px;
    margin-bottom: 0px;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-product .inner .price {
    position: relative;
    font-weight: 600;
    font-size: 15px;
    margin: 0px;
    color: #222222;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel {
    left: auto !important;
    right: 0px !important;
    border-radius: 0px;
    padding: 20px 20px;
    min-width: 300px;
    margin-top: 44px;
    z-index: -1;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-top: 3px solid #222222;
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel .cart-total {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel .cart-total span {
    font-weight: 700;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel .btns-boxed {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel .btns-boxed li {
    position: relative;
    margin: 0px 5px;
    display: inline-block;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel .btns-boxed li a {
    position: relative;
    color: #1089ff;
    font-weight: 500;
    font-size: 12px;
    padding: 6px 18px 4px;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid #1089ff;
    text-transform: uppercase;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel .btns-boxed li a:hover {
    color: #ffffff;
    background-color: #1089ff;
}

.ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .icon a {
    color: #999999;
}


.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-box-outer {
    position: relative;
    float: left;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-box-btn {
    height: 70px;
    width: 70px;
    position: relative;
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px !important;
    cursor: pointer;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    background: #1372d0;
    border: none;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-box-btn:after {
    display: none;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-box-outer .dropdown-menu {
    top: 68px !important;
    right: 0px;
    padding: 0px;
    width: 280px;
    left: auto !important;
    border-radius: 0px;
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-box-outer .dropdown-menu>li {
    padding: 0px;
    border: none;
    margin: 0px;
    width: 100%;
    background: none;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel .ant019_header-form-container {
    padding: 25px 20px;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel .form-group {
    position: relative;
    margin: 0px;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel input[type="text"],
.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel input[type="search"],
.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel input[type="password"],
.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel select {
    display: block;
    width: 100%;
    height: 40px;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 7px 40px 7px 15px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel input:focus,
.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel select:focus {
    border-color: #1089ff;
}

.ant019_header-main-header .ant019_header-header-lower .ant019_header-search-panel .ant019_header-search-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #555555;
    font-size: 12px;
    background: none;
    cursor: pointer;
    border: none;
}



.ant019_header-main-menu {
    position: relative;
    float: left;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ant019_header-main-menu .cart-box {
    position: relative;
    float: left;
    font-size: 26px;
    margin: 32px 0px;
    padding-left: 20px;
    border-left: 1px solid #dde4db;
}

.ant019_header-main-menu .cart-box a {
    position: relative;
    color: #1089ff;
}

.ant019_header-main-menu .cart-box .number {
    position: absolute;
    right: -15px;
    top: -15px;
    color: #1089ff;
    font-size: 18px;
}

.ant019_header-main-menu .navbar-collapse {
    padding: 0px;
    float: left;
}

.ant019_header-main-menu .ant019_header-navigation {
    position: relative;
    margin: 0px;
}

.ant019_header-main-menu .ant019_header-navigation>li {
    position: relative;
    float: left;
    margin-right: 30px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.ant019_header-header-style .ant019_header-main-menu .ant019_header-navigation>li:last-child {
    margin-right: 0px;
}

.sticky-header .ant019_header-main-menu .ant019_header-navigation>li>a {
    color: #444444 !important;
}

.sticky-header .ant019_header-main-menu .ant019_header-navigation>li:hover>a,
.sticky-header .ant019_header-main-menu .ant019_header-navigation>li.current>a {
    color: #1089ff;
    background-color: inherit !important;
}

.sticky-header .ant019_header-nav-outer .options-box {
    margin-top: 45px;
}

.ant019_header-main-header .ant019_header-header-upper .ant019_header-upper-right {
    padding-top: 35px;
}

.ant019_header-main-header .ant019_header-info-box {
    position: relative;
    float: left;
    margin-left: 50px;
    font-size: 14px;
    color: #1089ff;
    text-align: left;
    text-transform: uppercase;
    padding: 0px 40px 0px 40px;
    border-right: 2px dotted #DAD7D7;
}

.ant019_header-main-header .ant019_header-info-box .ant019_header-icon-box {
    position: absolute;
    left: 0px;
    top: 8px;
    color: #1089ff;
    font-size: 28px;
    line-height: 1em;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ant019_header-main-header .ant019_header-info-box .ant019_header-icon-box i {
    font-size: 28px;
}

.ant019_header-main-header .ant019_header-info-box li {
    position: relative;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    text-transform: capitalize;
}

.ant019_header-main-header .ant019_header-info-box li span {
    font-weight: 700;
    color: #333;
    font-size: 15px;
}

.ant019_header-main-menu .ant019_header-navigation>li>a {
    position: relative;
    display: block;
    color: #262626;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 600;
    padding: 30px 0px;
    font-size: 16px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.ant019_header-header-style .ant019_header-main-menu .ant019_header-navigation>li {
    margin-right: 30px;
}

.ant019_header-header-style .ant019_header-main-menu .ant019_header-navigation>li>a {
    padding: 20px 0px;
    color: #ffffff;
}

.ant019_header-main-menu .ant019_header-navigation>li.dropdown>a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    position: absolute;
    right: 0px;
    font-size: 13px;
    line-height: 30px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.ant019_header-main-menu .ant019_header-navigation>li:hover>a,
.ant019_header-main-menu .ant019_header-navigation>li.current>a,
.ant019_header-main-header.light-version .ant019_header-main-menu .ant019_header-navigation>li:hover>a,
.ant019_header-main-header.light-version .ant019_header-main-menu .ant019_header-navigation>li.current>a {
    opacity: 1;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 230px;
    z-index: 100;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    padding: 0px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
}

.ant019_header-main-menu .ant019_header-navigation>li>ul:before {
    position: absolute;
    content: '';
    left: 0px;
    top: -30px;
    width: 100%;
    height: 30px;
    display: block;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul.from-right {
    left: auto;
    right: 0px;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li {
    position: relative;
    width: 100%;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li:last-child {
    border-bottom: none;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 30px;
    line-height: 24px;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    color: #1089ff;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li:hover>a {
    color: #ffffff;
    background: #1089ff;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li.dropdown>a:after {
    font-family: 'FontAwesome';
    content: "\f105";
    position: absolute;
    right: 15px;
    top: 10px;
    width: 10px;
    height: 20px;
    display: block;
    color: #253d4a;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    z-index: 5;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li.dropdown:hover>a:after {
    color: #253d4a;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul {
    position: absolute;
    left: 100%;
    top: 100%;
    width: 230px;
    z-index: 100;
    display: none;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    padding: 0px 0px;
    background-color: #ffffff;
    border-top: 3px solid #1089ff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul.from-right {
    left: auto;
    right: 0px;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul>li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #f9f9f9;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul>li:last-child {
    border-bottom: none;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 30px;
    line-height: 24px;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    color: #7c7b7b;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul>li:hover>a {
    color: #ffffff;
    background: #1089ff;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul>li.dropdown>a:after {
    font-family: 'FontAwesome';
    content: "\f105";
    position: absolute;
    right: 10px;
    top: 11px;
    width: 10px;
    height: 20px;
    display: block;
    color: #272727;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    z-index: 5;
}

.ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul>li.dropdown:hover>a:after {
    color: #ffffff;
}

.ant019_header-main-menu .ant019_header-navigation>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.ant019_header-main-menu .ant019_header-navigation li>ul>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 0;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.ant019_header-main-menu .navbar-collapse>ul li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    line-height: 28px;
    border: 1px solid #ffffff;
    background-size: 20px;
    cursor: pointer;
    z-index: 5;
    display: none;
}

.ant019_header-header-lower {
    background: #1089ff;
}

@media only screen and (max-width: 1600px) {

    .ant019_header-main-menu .ant019_header-navigation>li {
        margin-right: 20px;
    }

}

@media only screen and (max-width: 1400px) {

    .ant019_header-main-header .ant019_header-header-upper .ant019_header-logo-box {
        margin-right: 35px;
    }

    .ant019_header-main-header .ant019_header-header-upper .outer-container {
        padding: 0px 30px;
    }

    .ant019_header-main-menu .ant019_header-navigation>li {
        margin-right: 14px;
    }

}

@media only screen and (max-width: 1140px) {

    .ant019_header-main-header {
        margin: 0px !important;
    }

    .ant019_header-main-header.ant019_header-header-style .ant019_header-nav-outer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ant019_header-main-menu .ant019_header-navigation>li {
        margin-left: 0px;
    }


    .ant019_header-main-header .ant019_header-info-box strong {
        font-size: 13px;
    }

    .ant019_header-main-header .ant019_header-info-box {
        margin-left: 25px;
        display: inline-block;
        float: none;
        border: 0;
    }

    .ant019_header-header-style .ant019_header-nav-outer::before,
    .ant019_header-header-style .ant019_header-nav-outer .side-curve,
    .ant019_header-main-header .ant019_header-outer-box {
        display: none;
    }

    .ant019_header-main-header.ant019_header-header-style .ant019_header-outer-box {
        display: block;
    }

    .ant019_header-header-style .ant019_header-nav-outer {
        padding-left: 15px;
        float: none !important;
    }

    .ant019_header-main-header .ant019_header-outer-box .buttons-box .theme-btn {
        font-size: 16px;
    }

    .ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box>li {
        margin-left: 15px;
    }

    .ant019_header-main-header.ant019_header-header-style .ant019_header-outer-box .ant019_header-option-box {
        margin-right: 0px;
    }

}

@media only screen and (min-width: 768px) {

    .ant019_header-main-menu .ant019_header-navigation>li>ul,
    .ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul {
        display: block !important;
        visibility: hidden;
        opacity: 0;
    }

}

@media only screen and (max-width: 1023px) {

    .ant019_header-main-header .main-box .ant019_header-logo-box {
        position: relative;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0px;
        text-align: left;
    }

    .ant019_header-main-header .ant019_header-nav-outer {
        float: left;
    }

    .ant019_header-main-header .nav-toggler {
        display: block;
    }

    .main-slider .tparrows,
    .fixed-header .sticky-header,
    .main-footer .widgets-section .footer-widget:before,
    .ant019_header-main-header .ant019_header-header-top .ant019_header-top-right::before,
    .ant019_header-main-header .ant019_header-header-top .ant019_header-top-right:after,
    .ant019_header-main-header .ant019_header-header-top .ant019_header-top-right .list,
    .ant019_header-main-header .ant019_header-header-upper .contact-number {
        display: none;
    }

    .ant019_header-main-header.ant019_header-header-style .ant019_header-outer-box .buttons-box {
        display: none;
    }

    .ant019_header-main-header .ant019_header-header-top .ant019_header-top-right .social-nav {
        margin-left: 0px;
        width: 100%;
    }

    .ant019_header-main-menu .ant019_header-navigation>li>a {
        font-size: 14px;
    }

    .ant019_header-main-header .options-box {
        margin-top: 0px;
        position: absolute;
        left: 0px;
        top: 25px;
        z-index: 12;
        display: none;
        right: auto;
    }

    .ant019_header-main-header .ant019_header-header-upper .ant019_header-upper-right {
        padding-top: 0px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .ant019_header-main-menu .ant019_header-navigation>li {
        margin-right: 25px;
    }

    .ant019_header-header-style .ant019_header-main-menu .ant019_header-navigation>li {
        margin-right: 20px;
    }

    .ant019_header-main-header .ant019_header-header-upper .ant019_header-logo-box {
        margin-bottom: 30px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
    }

    .ant019_header-main-header .ant019_header-header-upper .outer-container {
        padding: 0px 15px;
    }

    .ant019_header-header-top .ant019_header-top-left,
    .ant019_header-header-top .ant019_header-top-right {
        width: 100%;
        text-align: center;
    }


    .nav-toggler {
        top: 60px;
    }

}

@media only screen and (max-width: 767px) {

    .ant019_header-header-upper .ant019_header-logo-outer {
        position: relative;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        margin: 0px;
    }

    .ant019_header-main-header .ant019_header-header-top .ant019_header-top-right,
    .ant019_header-main-header .ant019_header-header-top .ant019_header-top-left {
        width: 100%;
    }

    .sec-title h2 {
        font-size: 25px;
    }

    .ant019_header-main-menu {
        width: 100%;
        display: block;
    }

    .ant019_header-main-menu .navbar-collapse {
        max-height: 600px;
        max-width: none;
        overflow: hidden;
        float: none !important;
        width: 100% !important;
        padding: 0px 0px 0px;
        border: none;
        margin: 0px 0px 15px;
        -ms-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        box-shadow: none;
    }

    .ant019_header-main-menu .navbar-collapse.in,
    .ant019_header-main-menu .collapsing {
        padding: 0px 0px 0px;
        border: none;
        margin: 0px 0px 15px;
        -ms-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        box-shadow: none;
    }

    .ant019_header-main-menu .ant019_header-navbar-header {
        position: relative;
        float: none;
        display: block;
        text-align: right;
        width: 100%;
        padding: 15px 0px;
        right: 0px;
        z-index: 12;
    }

    .ant019_header-main-menu .ant019_header-navbar-header .navbar-toggle {
        display: inline-block;
        z-index: 12;
        border: 1px solid #cc8809;
        float: none;
        margin: 0px 0px 0px 0px;
        border-radius: 0px;
        background: #cc8809;
    }

    .ant019_header-main-menu .ant019_header-navbar-header .navbar-toggle .icon-bar {
        background: #ffffff;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation {
        float: none !important;
        margin: 0px !important;
        width: 100% !important;
        background: #2c2c2c;
        border-top: none;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li {
        margin: 0px !important;
        float: none !important;
        padding: 0px !important;
        width: 100%;
    }

    .ant019_header-main-menu .ant019_header-navigation>li>a,
    .ant019_header-main-menu .ant019_header-navigation>li>ul:before {
        border: none;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>a {
        padding: 10px 10px !important;
        border: none !important;
    }

    .ant019_header-main-menu .ant019_header-navigation li.dropdown>a:after,
    .ant019_header-main-menu .ant019_header-navigation>li.dropdown>a:before,
    .ant019_header-main-menu .ant019_header-navigation>li>ul>li>a::before,
    .ant019_header-main-menu .ant019_header-navigation>li>ul>li>ul>li>a::before {
        color: #ffffff !important;
        right: 15px;
        font-size: 16px;
        display: none !important;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul>li>ul {
        position: relative;
        border: none;
        float: none;
        visibility: visible;
        opacity: 1;
        display: none;
        margin: 0px;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        padding: 0px;
        outline: none;
        width: 100%;
        background: #2c2c2c;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        -moz-transition: none !important;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul>li>ul {
        /* border-top:1px solid rgba(255,255,255,1) !important;	*/
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul>li,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul>li>ul>li {
        opacity: 1 !important;
        top: 0px !important;
        left: 0px !important;
        visibility: visible !important;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li:first-child {
        border: none;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>a,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul>li>a,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul>li>ul>li>a {
        padding: 10px 10px !important;
        line-height: 22px;
        color: #ffffff;
        background: #1372d0;
        text-align: left;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>a:hover,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>a:active,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>a:focus {
        background: #2777da;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li:hover>a,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul>li:hover>a,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li>ul>li>ul>li:hover>a,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li.current>a,

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation>li.current-menu-item>a {

        color: #ffffff !important;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation li.dropdown .dropdown-btn,
    .ant019_header-header-style .ant019_header-nav-outer .btn-outer {
        display: block;
    }

    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation li.dropdown .dropdown-btn .fa {
        line-height: 28px;
    }

    .sec-title .ant019_header-text br,
    .main-slider .owl-nav,
    .main-slider .schedule-box,
    .ant019_header-main-menu .navbar-collapse>.ant019_header-navigation li.dropdown:after,
    .ant019_header-main-menu .ant019_header-navigation>li>ul:before {
        display: none !important;
    }

    .ant019_header-main-header .btn-outer {
        left: 0px;
        top: 0px;
        right: auto;
        margin-top: 15px;
        text-align: left;
        z-index: 12;
    }

    .ant019_header-main-header .main-box .ant019_header-logo-box {
        float: none;
        text-align: center;
        padding-bottom: 10px;
    }

    .ant019_header-main-header .options-box {
        display: block;
    }

    .ant019_header-main-header .btn-outer {
        display: block;
    }

    .ant019_header-main-header.light-version .main-box .ant019_header-logo-box {
        padding-bottom: 0px;
    }

    .ant019_header-main-header .options-box .options-nav>li {
        margin-left: 0px;
        margin-right: 20px;
    }

    .ant019_header-main-header .ant019_header-search-box-outer .dropdown-menu {
        left: 0px;
        top: 47px;
    }

    .sidebar-page-container .comments-area .comment-box.reply-comment {
        margin-left: 0px;
    }

    .ant019_header-main-header .ant019_header-info-box {
        padding-left: 0px;
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
        padding-right: 0;
    }

    .ant019_header-main-header .ant019_header-info-box:last-child {
        margin-bottom: 0px;
    }

    .ant019_header-main-header .ant019_header-info-box .ant019_header-icon-box {
        position: relative;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .ant019_header-main-header .main-box .outer-container {
        padding: 0px;
    }

    .ant019_header-main-header .ant019_header-header-lower .ant019_header-outer-box {
        position: absolute;
        z-index: 12;
        display: block;
    }

    .ant019_header-main-menu .ant019_header-navbar-header .navbar-toggler {
        display: inline-block;
        z-index: 12;
        width: 50px;
        height: 40px;
        float: none;
        padding: 0px;
        text-align: center;
        border-radius: 0px;
        background: none;
        border: 1px solid #ffffff;
    }

    .ant019_header-main-menu .ant019_header-navbar-header .navbar-toggler .icon-bar {
        position: relative;
        background: #ffffff;
        height: 2px;
        width: 26px;
        display: block;
        margin: 0 auto;
        margin: 5px 11px;
    }

    .ant019_header-header-style-one .ant019_header-main-menu .ant019_header-navbar-header .navbar-toggler {
        border-color: #13b5ea;
    }

    .ant019_header-header-style-one .ant019_header-main-menu .ant019_header-navbar-header .navbar-toggler .icon-bar {
        background: #13b5ea;
    }

    .ant019_header-main-header .ant019_header-header-lower .ant019_header-outer-box .appointment-box .appointment-btn {
        padding: 23px 25px 22px 25px;
    }

    .ant019_header-main-header .ant019_header-nav-outer {
        width: 100%;
    }

    .ant019_header-main-menu .cart-box {
        position: absolute;
        left: 0px;
        top: 0px;
        padding-left: 0px;
        margin: 26px 0px;
        border-left: none;
        z-index: 30;
    }

    .ant019_header-header-top .top-righ,
    .ant019_header-main-header .ant019_header-outer-box .buttons-box,
    .main-slider .ant019_header-text br {
        display: none;
    }

    .main-slider .slide {
        padding: 120px 0px;
    }

    .ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box>li {
        margin-left: 0px;
        margin-right: 20px;
    }

    .ant019_header-main-header.ant019_header-header-style .ant019_header-header-upper .ant019_header-logo-box {
        width: 100%;
        text-align: center;
    }

    .ant019_header-main-header.ant019_header-header-style .ant019_header-header-upper .ant019_header-upper-right {
        width: 100%;
        padding-top: 0px;
    }

    .ant019_header-header-style .ant019_header-nav-outer {
        padding-right: 15px;
    }

    .ant019_header-header-top .ant019_header-top-left .ant019_header-text {
        text-align: center;
        padding: 10px 0px;
    }

    .ant019_header-main-header .ant019_header-header-lower .ant019_header-search-box-outer .dropdown-menu {
        left: 0px !important;
    }

    .ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel {
        left: 0px !important;
        right: auto;
    }

    .nav-toggler {
        top: 12px;
    }

}

@media only screen and (max-width: 599px) {
    .ant019_header-header-top .ant019_header-top-left {}
}

@media only screen and (max-width: 479px) {

    .ant019_header-main-header .ant019_header-search-box-outer .dropdown-menu {
        top: 44px;
    }
    .ant019_header-main-header .ant019_header-outer-box .ant019_header-option-box .cart-box .cart-panel {
        min-width: 275px;
    }

    .ant019_header-main-header .nav-toggler {
        display: none;
    }

}
.ant-section__ant110_service {
    background-size: cover;
    background-position: center center;
    background-image: url(/static/img/bg.jpg);
    background-attachment: fixed;
    padding: 35px 0;
}

.ant110_service-mb-80 {
    margin-bottom: 80px;
}

.ant110_service-mb-65 {
    margin-bottom: 65px;
}

.ant110_service-mb-40 {
    margin-bottom: 40px;
}

.ant110_service-mb-30 {
    margin-bottom: 20px;
}

.ant110_service-servies-tittle span {
    color: #0078ff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2em;
    margin-bottom: 17px;
    display: block;
    position: relative;
    color: #ffdedd;
}

.ant110_service-servies-tittle h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 35px;
    text-transform: uppercase;
}

.ant-section__ant110_service .btn {
    -moz-user-select: none;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 1;
    padding: 23px 49px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    background: #107ae4;
    color: #fff;
    padding: 23px 42px;
}

.ant110_service-theme-btn2:hover {
    background: #fff;
    color: #0a1119;
}

.ant110_service-theme-btn3:hover {
    background: #23374d;
    color: #fff;
}

.ant-section__ant110_service::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(16, 136, 255, 0.877);
}

.ant110_service-servies-tittle span {
    color: #e2e2e2;
}

.ant-section__ant110_service .nav-item {
    text-align: center;
    margin-right: 50px;
    width: 16%;
    background: transparent;
}

.ant-section__ant110_service .nav-item:last-child {
    margin-right: 0;
}

.ant-section__ant110_service .nav-item a h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    margin: 0;
    margin-top: 37px;
}

.ant-section__ant110_service .nav-item a.nav-link {
    padding: 20px;
    border-radius: 0;
    position: relative;
    border: 2px solid #107ae4;
}

.ant-section__ant110_service .nav-item a.nav-link::after {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    visibility: hidden;
}

.ant-section__ant110_service .nav-item a.nav-link.active::after {
    opacity: 1;
    visibility: visible;
}

.ant-section__ant110_service ul li.nav-item .nav-link.active {
    background: 0;
    background: #fff;
    border: 2px solid transparent;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.ant-section__ant110_service .nav-link.active h6 {
    color: #8e9aa7;
}

.ant110_service-tabs-content-wrapper {
    background: #fff;
    padding: 30px 0px 10px 30px;
}

.ant110_service-depertment-tittle h5 {
    color: #23374d;
    letter-spacing: 0.2em;
    margin-bottom: 23px;
}

.ant110_service-depertment-tittle h1 {
    color: #0a1119;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -0.03em;
    margin-bottom: 23px;
    padding-right: 76px;
}

.ant110_service-depertment-tittle p {
    color: #697a8d;
    margin-bottom: 21px;
    padding-right: 129px;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
}

.ant110_service-depertment-img img {
    width: 100%;
}

.ant-section__ant110_service .nav-item a.nav-link i {
    font-size: 50px;
    color: #fff;
}

.ant-section__ant110_service .nav-item a.nav-link.active.nav-link i {
    color: #23374d;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .ant-section__ant110_service .nav-item {
        margin-right: 25px;
    }
    .ant110_service-tabs-content-wrapper {
        padding: 20px;
    }
    .ant110_service-depertment-tittle h1 {
        padding-right: 0px;
    }
    .ant110_service-depertment-tittle p {
        padding-right: 0px;
    }
    .ant110_service-depertment-tittle h1 {
        font-size: 25px;
    }
}

.ant-section__ant110_service .nav-item a.nav-link {
    position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
    .ant-section__ant110_service .nav-item {
        width: 28.4%;
        margin-bottom: 30px;
    }
    .ant110_service-tabs-content-wrapper {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .ant-section__ant110_service {
        padding: 50px 0;
    }
    .ant-section__ant110_service .nav-item {
        margin-right: 0;
        width: 50%;
        margin-bottom: 30px;
    }
    .ant110_service-tabs-content-wrapper {
        padding: 20px;
    }
    .ant110_service-depertment-tittle h1 {
        padding-right: 0px;
        font-size: 24px;
    }
    .ant110_service-depertment-tittle p {
        padding-right: 0px;
    }
}