{% load static %}
<footer class="ant024_footer-footer-section">
        <div class="container">
            <div class="row">
                <!-- Start: About -->
                <div class="col-lg-3 col-xs-12">
                    <div class="ant024_footer-widget">
                        <div class="ant024_footer-footer_logo">
                            <img class="img-responsive" src="{% static
                                    "imh/logo2.png" %}"
                                 alt="">
                        </div>
                        <div class="ant024_footer-footer_socil">
                            <ul class="ant024_footer-list-icons ant024_footer-link-list ant024_footer-footer_soc">
                                <li>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="ant024_footer-footer_p">
                            <p class="ant024_footer-footer_para">Рекламный бриф, как следует из вышесказанного,
                                традиционно детерминирует ролевой рекламный блок. </p>
                        </div>
                    </div>
                </div>
                <!-- End: About -->
                <!-- Start: Latest post -->
                <div class="col-lg-3 col-xs-12">
                    <div class="ant024_footer-widget ant024_footer-quick_lnk">
                        <h5>Разделы</h5>
                        <ul>
                            <li>
                                <a href="#">Главная</a>
                            </li>
                            <li>
                                <a href="#">Услуги</a>
                            </li>
                            <li>
                                <a href="#">События</a>
                            </li>
                            <li>
                                <a href="#">Проекты</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End: Latest post -->
                <!-- Start: Latest post -->
                <div class="col-lg-3 col-xs-12">
                    <div class="ant024_footer-widget">
                        <h5>Новости</h5>
                        <ul class="ant024_footer-recent-post">
                            <li>
                                <div class="ant024_footer-recent-post-date">
                                    <strong>17</strong> ЯН
                                </div>
                                <a href="#">Сублимированный формирование имиджа </a>
                            </li>
                            <li>
                                <div class="ant024_footer-recent-post-date">
                                    <strong>14</strong> ЯН
                                </div>
                                <a href="#">Из ряда вон выходящий инструмент маркетинга </a>
                            </li>
                            <li>
                                <div class="ant024_footer-recent-post-date">
                                    <strong>19</strong> ЯН
                                </div>
                                <a href="#">Почему версифицирован имидж? </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End: Latest post -->

                <!-- Start:Tag -->
                <div class="col-lg-3 col-xs-12">
                    <div class="ant024_footer-widget">
                        <h5>Облако тегов</h5>
                        <!-- Start Subscribe -->
                        <div class="ant024_footer-box-content">
                            <div class="ant024_footer-tags">
                                <a href="#a">Tags</a> <a href="#a">Best</a> <a href="#">Free</a> <a
                                    href="#a">Popular</a>
                                <a href="#a">Wordpress</a> <a href="#a">Fashion</a> <a href="#">landing</a> <a
                                    href="#a">HTML</a>
                                <a href="#a">CSS</a>
                                <a href="#a">Free</a> <a href="#">PHP</a> <a href="#a">Design</a> <a
                                    href="#a">Layout</a>
                                <a href="#a">PHP</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:Tag -->
                <!-- Start:ant024_footer-subfooter -->
                <div class="ant024_footer-subfooter">
                    <div class="col-xs-12">
                        <p>2023 © Copyright <a href="#">Studio.</a> Все права
                            защищены.</p>
                    </div>
                </div>
                <!-- End:ant024_footer-subfooter -->
            </div>
        </div>
    </footer>