{% load static %}
<footer class="ant024_footer-footer-section">
    <div class="container">
        <!-- Start:ant024_footer-subfooter -->
        <div class="ant024_footer-subfooter">
            <div class="col-xs-12">
                <p class="ant024_footer-footer_para">Данный проект работает на
                    благотворительных началах, исключительно благодаря
                    энтузиазму авторов и Вашей поддержке. </p>
                <p>2023 © Copyright <a href="#">Studio.</a> Все права
                    защищены.</p>
            </div>
        </div>
        <!-- End:ant024_footer-subfooter -->
    </div>
</footer>