{% load static %}
    <header class="ant019_header-main-header ant019_header-header-style">

        <!--Header Top-->
        <div class="ant019_header-header-top">
            <div class="container">
                <div class="clearfix">
                    <!--Top Left-->
                    <div class="ant019_header-top-left">
                        <div class="ant019_header-text">Название компании или услуг</div>
                    </div>
                    <!--Top Right-->
                    <div class="ant019_header-top-right">
                        <!--ant019_header-language-->
                        <div class="ant019_header-language dropdown"><a class="btn btn-default dropdown-toggle"
                                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                href="#"><span
                                class="ant019_header-flag-icon"><img
                                src="{% static "img/flag-icon.jpg" %}"
                                        alt="" /></span>Английский
                                &nbsp;<span class="icon fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                                <li><a href="#">Русский</a></li>
                                <li><a href="#">Немецкий</a></li>
                                <li><a href="#">Китайский</a></li>
                                <li><a href="#">Французкий</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ant019_header-header-upper-->
        <div class="ant019_header-header-upper">
            <div class="container">
                <div class="clearfix">

                    <div class="pull-left ant019_header-logo-box">
                        <div class="ant019_header-logo"><a href="index.html"><img src="{% static "img/logo.png" %}" alt=""
                                    title=""></a></div>
                    </div>

                    <div class="pull-right ant019_header-upper-right clearfix">

                        <!--Info Box-->
                        <div class="ant019_header-upper-column ant019_header-info-box">
                            <div class="ant019_header-icon-box"><i class="material-icons">location_on</i></div>
                            <ul>
                                <li><span>Адрес:</span> <br> Россия, Москва, ул. Пушкина</li>
                            </ul>
                        </div>

                        <!--Info Box-->
                        <div class="ant019_header-upper-column ant019_header-info-box">
                            <div class="ant019_header-icon-box"><i class="material-icons">email</i></div>
                            <ul>
                                <li><span>Почта:</span> <br> mail@mail.com</li>
                            </ul>
                        </div>

                        <!--Info Box-->
                        <div class="ant019_header-upper-column ant019_header-info-box border-0">
                            <div class="ant019_header-icon-box"><i class="material-icons">phone</i></div>
                            <ul>
                                <li><span>Телефон:</span> <br> +7 123 456 78 90</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!--Header Lower-->
        <div class="ant019_header-header-lower">

            <div class="container">
                <div class="ant019_header-nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="ant019_header-main-menu navbar-expand-md">
                        <div class="ant019_header-navbar-header">
                            <!-- Toggle Button -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle ant019_header-navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                            <ul class="ant019_header-navigation clearfix">
                                <li><a href="#">Главная</a></li>
                                <li class="dropdown"><a href="#">О нас</a>
                                    <ul>
                                        <li><a href="#">О компании</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">404 страница</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Услуги</a>
                                    <ul>
                                        <li><a href="#">Услуги</a></li>
                                        <li><a href="#">Описание услуги</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Проекты</a>
                                    <ul>
                                        <li><a href="#">Проекты</a></li>
                                        <li><a href="#">Описание проектов</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Новости</a>
                                    <ul>
                                        <li><a href="#">Все новости</a></li>
                                        <li><a href="#">Описание новости</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                        </div>
                    </nav>

                    <!-- Main Menu End-->
                    <div class="ant019_header-outer-box clearfix">

                        <!--Option Box-->
                        <div class="ant019_header-option-box">

                            <!--Search Box-->
                            <div class="ant019_header-search-box-outer">
                                <div class="dropdown">
                                    <button class="ant019_header-search-box-btn dropdown-toggle" type="button"
                                        id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right ant019_header-search-panel"
                                        aria-labelledby="dropdownMenu3">
                                        <li class="ant019_header-panel-outer">
                                            <div class="ant019_header-form-container">
                                                <form method="post" action="#">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value=""
                                                            placeholder="Поиск..." required>
                                                        <button type="submit" class="ant019_header-search-btn"><span
                                                                class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Lower-->

    </header>

