{% load static %}
    <header class="ant019_header-main-header ant019_header-header-style">

        <!--Header Top-->
        <div class="ant019_header-header-top">
            <div class="container">
                <div class="clearfix">
                    <!--Top Left-->
                    <div class="ant019_header-top-left">
                        <div class="ant019_header-text">Название компании или услуг</div>
                    </div>
                </div>
            </div>
        </div>

        <!--ant019_header-header-upper-->
        <div class="ant019_header-header-upper">
            <div class="container">
                <div class="clearfix">

                    <div class="pull-left ant019_header-logo-box">
                        <div class="ant019_header-logo"><a href="index.html"><img src="{% static "img/logo.png" %}" alt=""
                                    title=""></a></div>
                    </div>

                    <div class="pull-right ant019_header-upper-right clearfix">

                        <!--Info Box-->
                        <div class="ant019_header-upper-column ant019_header-info-box">
                            <div class="ant019_header-icon-box"><i class="material-icons">location_on</i></div>
                            <ul>
                                <li><span>Адрес:</span> <br> Россия, Москва, ул. Пушкина</li>
                            </ul>
                        </div>

                        <!--Info Box-->
                        <div class="ant019_header-upper-column ant019_header-info-box">
                            <div class="ant019_header-icon-box"><i class="material-icons">email</i></div>
                            <ul>
                                <li><span>Почта:</span> <br> mail@mail.com</li>
                            </ul>
                        </div>

                        <!--Info Box-->
                        <div class="ant019_header-upper-column ant019_header-info-box border-0">
                            <div class="ant019_header-icon-box"><i class="material-icons">phone</i></div>
                            <ul>
                                <li><span>Телефон:</span> <br> +7 123 456 78 90</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--End Header Upper-->


    </header>

