
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/ html; charset=utf-8"/>
    <title>ФАЙЛПДФ</title>
    <style>
        @font-face {
            font-family: "Alice-Regular";
            src: url("{{ STATIC_URL }}fonts/Arial.ttf") format("Arial");
        }

        body {
            font-family: "Arial";
            font-size: 20px
        }

        div {
            font-family: "Arial";
            font-size: 20px
        }
    </style>
</head>
<body>
<div>Тестт русского языка<br>
    {{ debt_size }}<br>
    {{ court_order_date }}<br></div>
</body>
</html>


