{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
        <section class="ant-section__ant110_service">

			<div class="container">

				<div class="row">
					<div class="col-xl-12 ant110_service-mb-30">
						<ul class="nav nav-pills ant110_service-mb-65" id="ant110_service-pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="ant110_service-pills-profile-tab" data-toggle="pill" href="#ant110_service-pills-profile" role="tab"
									aria-controls="ant110_service-pills-profile" aria-selected="false">
									<i class="fab fa-apple"></i>
									<h6>Отменить судебный приказ</h6>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="ant110_service-pills-contact-tab" data-toggle="pill" href="#ant110_service-pills-contact" role="tab"
									aria-controls="ant110_service-pills-contact" aria-selected="false">
									<i class="fab fa-apper"></i>
									<h6>Отказ от общения с коллектором</h6>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="ant110_service-pills-contact-tab" data-toggle="pill" href="#a" role="tab"
									aria-controls="a" aria-selected="false">
									<i class="fab fa-angular"></i>
									<h6>Снизить удержания ФССП</h6>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="ant110_service-pills-contact-tab" data-toggle="pill" href="#b" role="tab"
									aria-controls="b" aria-selected="false">
									<i class="fab fa-cc-visa"></i>
									<h6>Поддержать этот проект</h6>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="ant110_service-pills-contact-tab" data-toggle="pill" href="#c" role="tab"
									aria-controls="b" aria-selected="false">
									<i class="fab fa-autoprefixer"></i>
									<h6>Часто задаваемые вопросы</h6>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="ant110_service-tabs-content-wrapper">
								<div class="tab-content" id="ant110_service-pills-tabContent">
									<div class="tab-pane fade" id="ant110_service-pills-home" role="tabpanel" aria-labelledby="ant110_service-pills-home-tab">
										<div class="row">
											<div class="col-xl-6 col-lg-4">
												<div class="ant110_service-depertment-img ant110_service-mb-30">
													<img src="{% static "img/working.jpg" %}"
                                                         alt="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-8">
												<div class="ant110_service-section-title ant110_service-mb-40">
													<div class="ant110_service-depertment-tittle">
														<h5>Отменить судебный приказ</h5>
														<h1>Подготовим заявление быстро и бесплатно</h1>
														<p>Эволюция мерчандайзинга выражена наиболее полно. План размещения парадоксально ускоряет комплексный пак-шот. Тем не менее, создание приверженного покупателя усиливает департамент маркетинга и продаж. </p>
													</div>
													<a href="#" class="btn ant110_service-theme-btn3">Начать работу</a>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade show active" id="ant110_service-pills-profile" role="tabpanel" aria-labelledby="ant110_service-pills-profile-tab">
										<div class="row">
											<div class="col-xl-6 col-lg-6">
												<div class="ant110_service-depertment-img ant110_service-mb-30">
													<img src="{% static "img/polnostuopravdan.jpg" %}"
                                                         alt="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-6">
												<div class="ant110_service-section-title ant110_service-mb-40">
													<div class="ant110_service-depertment-tittle">
														<h5>Отменить судебный приказ</h5>
														<h1>Подготовим заявление быстро и бесплатно</h1>
														<p>Эволюция мерчандайзинга выражена наиболее полно. План размещения парадоксально ускоряет комплексный пак-шот. Тем не менее, создание приверженного покупателя усиливает департамент маркетинга и продаж. </p>
													</div>
													<a href="#" class="btn ant110_service-theme-btn3">Начать работу</a>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="ant110_service-pills-contact" role="tabpanel" aria-labelledby="ant110_service-pills-contact-tab">
										<div class="row">
											<div class="col-xl-6 col-lg-4">
												<div class="ant110_service-depertment-img ant110_service-mb-30">
													<img src="{% static "img/working.jpg" %}" alt="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-8">
												<div class="ant110_service-section-title ant110_service-mb-40">
													<div class="ant110_service-depertment-tittle">
														<h5>Два</h5>
														<h1>Почему неоднозначен рекламный макет?</h1>
														<p>Эволюция мерчандайзинга выражена наиболее полно. План размещения парадоксально ускоряет комплексный пак-шот. Тем не менее, создание приверженного покупателя усиливает департамент маркетинга и продаж. </p>
													</div>
													<a href="#" class="btn ant110_service-theme-btn3">Начать работу</a>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="a" role="tabpanel" aria-labelledby="ant110_service-pills-contact-tab">
										<div class="row">
											<div class="col-xl-6 col-lg-4">
												<div class="ant110_service-depertment-img ant110_service-mb-30">
													<img src="{% static "img/working.jpg" %}" alt="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-8">
												<div class="ant110_service-section-title ant110_service-mb-40">
													<div class="ant110_service-depertment-tittle">
														<h5>три</h5>
														<h1>Почему неоднозначен рекламный макет?</h1>
														<p>Эволюция мерчандайзинга выражена наиболее полно. План размещения парадоксально ускоряет комплексный пак-шот. Тем не менее, создание приверженного покупателя усиливает департамент маркетинга и продаж. </p>
													</div>
													<a href="#" class="btn ant110_service-theme-btn3">Начать работу</a>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="ant110_service-pills-contact-tab">
										<div class="row">
											<div class="col-xl-6 col-lg-4">
												<div class="ant110_service-depertment-img ant110_service-mb-30">
													<img src="{% static "img/working.jpg" %}" alt="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-8">
												<div class="ant110_service-section-title ant110_service-mb-40">
													<div class="ant110_service-depertment-tittle">
														<h5>Четыре</h5>
														<h1>Почему неоднозначен рекламный макет?</h1>
														<p>Эволюция мерчандайзинга выражена наиболее полно. План размещения парадоксально ускоряет комплексный пак-шот. Тем не менее, создание приверженного покупателя усиливает департамент маркетинга и продаж. </p>
													</div>
													<a href="#" class="btn ant110_service-theme-btn3">Начать работу</a>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="ant110_service-pills-contact-tab">
										<div class="row">
											<div class="col-xl-6 col-lg-4">
												<div class="ant110_service-depertment-img ant110_service-mb-30">
													<img src="{% static
                                                            "img/working.jpg" %}" alt="">
												</div>
											</div>
											<div class="col-xl-6 col-lg-8">
												<div class="ant110_service-section-title ant110_service-mb-40">
													<div class="ant110_service-depertment-tittle">
														<h5>Пять</h5>
														<h1>Почему неоднозначен рекламный макет?</h1>
														<p>Эволюция мерчандайзинга выражена наиболее полно. План размещения парадоксально ускоряет комплексный пак-шот. Тем не менее, создание приверженного покупателя усиливает департамент маркетинга и продаж. </p>
													</div>
													<a href="#" class="btn ant110_service-theme-btn3">Начать работу</a>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>

		</section>

</main>


{% endblock %}
