<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/ html; charset=utf-8"/>
    <title>Сохраните ваше заявление</title>
</head>
<body>
<div>
<font>
    <hr>
    <p align="right" style="font-size: 12">
        Мировому судье судебного участка №{{ court_number }}<br>
        {{ court_city }} <br>
        От должника {{ debtor_surname }} {{ debtor_name }} {{ debtor_lastname }} <br>
        Проживающего по адресу: {{ debtor_adres }} <br>
        Тел. 8-923-377-05-75
    </p>
    <p align="center">ЗАЯВЛЕНИЕ</p>
    <p>{{ court_order_data }} года мировым судьей судебного участка №{{ court_number }} г. {{ court_city }} вынесен
        судебный приказ №
        {{ court_order_number }} о взыскании с должника {{ debtor_surname }} {{ debtor_name }} {{ debtor_lastname }}
        задолженности в пользу {{ claimer_name }} в размере {{ debt_size }} руб.</p>
    <p>Возражаем против исполнения данного судебного приказа, поскольку не согласны с суммой взысканной
        задолженности,
        так как считаем, что остаток задолженности существенно меньше указанной суммы. Взыскателем не учтены суммы
        произведенных должником платежей и взаимозачеты, а так же нарушен принцип распределения платежа установленный
        ст. 319 ГК РФ.</p>
    <p>На основании ст. 129 ГПК РФ судья отменяет судебный приказ, если от должника в десятидневный срок с момента
        получения копии судебного приказа поступят возражения относительно его исполнения.</p>
    <p>ДАЛЕЕ ПЕРЕМЕННЫЕ ЗНАЧЕНИЯ
        Копия судебного приказа должником получена не была, о его наличии узнал на приеме у судебного при-став
        {{ court_order_date_receipt }} года. От получения заказной почты не уклонялся, проживаю по месту регистрации
        .</p>
    ЛИБО
    <p>Копия судебного приказа должником получена не была, о его наличии узнал из открытых источников информации
        {{ court_order_date_receipt }} года. От получения заказной почты не уклонялся, проживаю по месту
        регистрации.</p>
    ЛИБО
    <p>Копия судебного приказа должником получена, {{ court_order_date_receipt }} года.</p>

    <p>
        Учитывая выше изложенное и руководствуясь ст. 129 ГПК РФ</p>
    <p align="center"> ПРОШУ:</p>

        <ol>
            <li>Восстановить срок на обжалование судебного приказа, в случае если суд посчитает его пропущенным.</li>
<li>Отменить судебный приказ № {{ court_order_number }}, вынесенный {{ court_order_data }}года мировым
                судьей
                судебного участка №{{ court_number }} г. {{ court_city }} о взыскании с
                должника {{ debtor_surname }} {{ debtor_name }} {{ debtor_lastname }}
    задолженности в пользу {{ claimer_name }}.</li>
            </ol>
    <br>
    <p>
        {{ date_create }}
    </p><br>
    <p align="right">______________/ {{ debtor_surname }} {{ debtor_name }} {{ debtor_lastname }}</p>
</div>
</body>
</html>

